@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;1,300;1,400&display=swap');

*{
    text-decoration: none;
    outline:none;
    padding: 0;
    margin: 0;
    border:0;
    box-sizing: border-box;
    font-family: 'Nunito',sans-serif;
    list-style: none;
    transition: .5s;
    scroll-behavior: smooth;
}
:root{
    --white-color:white;
    --black-color:black;
    --header-color:rgb(250, 245, 245);
    --main-color:rgb(214, 212, 212);
    --active-tab: rgb(78, 243, 78);
    --light-white-color:rgb(231, 228, 228);
}
body{
    background: var(--white-color);
}
img{
    width: 100%;
}
body.active{
    background: rgb(71, 71, 71);
    --black-color:white;
    --white-color:black;
    --header-color:black;
     --main-color:rgb(54, 53, 53);
     --active-tab: rgb(20, 51, 228);
     --light-white-color:rgb(54, 53, 53);
}
html{
    font-size: 62.5%;
    overflow-x: hidden; 
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-thumb{
    background: orange;
    border-radius: 2rem;
}
.active{
    background: var(--active-tab);
    
}
header{
    padding: 2rem 7%;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,0.1);
    position: relative;
    background: var(--header-color);
    position: fixed;
    width: 100%;
    z-index: 10;
}
.title__nav-header i{
    color: orange !important;
}
header .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .nav a i{
    color: var(--black-color);
    font-size: 2.5rem;
}
header .nav a i span{
    color: var(--black-color);
    font-size: 2.5rem;
}
.nav-menu-content  {
    display: flex;
    font-size: 2rem;
    padding-bottom: 1rem;
}
.nav-menu-content a{
    margin:  1rem;
    color: var(--black-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: .5rem;
}
.nav-menu-content a:hover{
    background: green;
    color: white;
   
}
.nav-menu-content a i{
    font-size: 2rem;
    margin-right: 1rem;
}

.nav-menu-content a h2{
    font-size: 2rem;
    color: var(--black-color);
    font-weight: 500;
}
.nav-icon-menu{
    display: flex;
}
.nav-icon-menu div{
    font-size: 2.5rem;
    margin: 0 1rem;
    cursor: pointer;
}
.nav-icon-menu div:nth-child(1){
    color: rgb(0, 38, 255);
}
.nav-icon-menu div:nth-child(2){
    color: rgb(255, 153, 0);
}
.nav-icon-menu div:nth-child(3){
    color: red;
}
.nav-icon-menu div:nth-child(4){
    color: var(--black-color);
    display: none;
}
.cart{
    position: fixed;
    right: 0;
    width: 420px;
    z-index: 9;
    top: 15%;
    height: 100%;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,0.3);
    background: var(--white-color);
    padding: 3.5rem 2rem;
    transform: scale(0);
    transform-origin: top right;
    overflow-y: auto;
    
}
.cart.active{
    transform: scale(1);
}
.cart__title-center{
    align-items: center;
    display: flex;
    margin: 2rem 0;
    justify-content: center;
}
.cart__title-center h2{
    font-size: 2.5rem;
    color: var(--black-color);
    margin-right: 1rem;
}
.cart__title-center i{
    font-size: 2.5rem;
    color: red;
}
.cart__close{
    position: absolute;
    font-size: 5rem;
    color: var(--black-color);
    right: 0;
    top: 1rem;
}
.cart__container{
    display: grid;
    row-gap: 1.5rem;
}
.cart__card{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.cart-box{
    background: var(--main-color);
    display: flex;
    padding: 1rem 1.5rem;
}
.cart-box img{
    width: 85px;
}
.cart__title{
    font-size: 2rem;
    color: var(--black-color);
}
.cart__price{
    font-size: 1.5rem;
    color: red;
    margin-bottom: 2rem;
    display: block;
}
.cart__amout,
.cart__amout-content{
    
    display: flex;
    align-items: center;
    font-size: 2rem;
}
/* .cart__amout{
   
} */
.cart__amout-content{
    column-gap: 2rem;
}
.cart__amout-content span{
    margin: 0 0.3rem;
}
.cart__amout-content span:nth-child(1){
    color: red;
    padding: 0.5rem;
    background: var(--main-color);
}
.cart__amout-content span:nth-child(3){
    color: green;
    padding: 0.5rem;
    background: var(--main-color);
}
.cart__amout-trash{
    padding: .7rem;
    background: red;
    color: white;
}
.cart__amout-number{
    color: var(--black-color);
}
.total__cart{
   display: flex;
    margin-top: 5rem;
    align-items: center;
    justify-content: space-between;
}
.total__cart h1{
    font-size: 2rem;
    color: var(--black-color);
}
.total__cart h2{
    font-size: 2rem;
    color: red;
}
.login{
    position: fixed;
    right: 0;
    width: 420px;
    z-index: 9;
    top: 15%;
    height: 100%;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,0.3);
    background: var(--white-color);
    padding: 3.5rem 4rem;
    transform: scale(0);
    transform-origin:right;
    overflow-y: auto;
}
.login.active{
    transform: scale(1);
}
.login__close{
    position: absolute;
    font-size: 5rem;
    color: var(--black-color);
    right: 0;
    top: 1rem;
}
.login__container{
    display: block;
}
.input__email{
    width: 100%;
    padding: 1rem 2rem;
    border-bottom: 1px solid blue;
    border-radius: .5rem;
}
.input__password{
    margin-top: 4rem;
    width: 100%;
    padding: 1rem 2rem;
    border-bottom: 1px solid blue;
    border-radius: .5rem;
}
.btn{
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 4px;
    background: red;
    color: white;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.login__container h3{
    font-size: 1.6rem;
    color: var(--black-color);
}
.login__container h3 span{
    color: red;
    font-size: 1.6rem;
}

.main{
    padding: 2rem 7%;
    position: relative;
}
.home__content{
    padding: 10rem 0 2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
  
}
.home__group{
    justify-self: center;
   
}
.home__indicator{
    width: 8px;
    height: 8px;
    background: var(--black-color);
    border-radius: 50%;
    position: absolute;
    bottom: 15%;
    left: 45%;
}
.home__indicator::after{
    content:"";
    position: absolute;
    width: 1px;
    height: 75px;
    background: var(--black-color);
    top: 0;
    right: 45%;
}
.home_-details-img{
    position: absolute;
    bottom: 0;
    right: 60%;
    margin-top: 1rem;
}
.home__details-title,
.home__details-subtitle{
    display: block;
    font-size: 2rem;
    text-align: center;
    color: var(--black-color);
}
.home__subtitle{
    font-size: 2rem;
    color: red;
}
.home__title{
    margin-top: 1rem;
    font-size: 1.7rem;
    color: var(--black-color);
}
.home__title span{
    color: blue;
}
.home__description{
    margin-top: 3rem;
    font-size: 1.5rem;
    color: var(--black-color);
    line-height: 2;
    margin-bottom: 2rem;
}
.home__buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.view-details{
    display: flex;
    align-items: center;
}
.view-details h1{
    font-size: 2rem;
    color: var(--black-color);
}
.view-details i{
    font-size: 4rem;
    color: red;
}
.discount__container{
    padding: 2rem 7%;
}
.discount-section{
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    display: grid;
    text-align: center;
    background: var(--main-color);
    border-radius: .5rem;
}
.discount-section img{
    width: 200px;
    margin-left: 30%;
}
.infor__discount h3{
    font-size: 2rem;
    margin-bottom: 2rem;
    color: rgb(7, 93, 163);
}
.section{
    padding: 2rem 7%;


}
.section__title{
    text-align: center;
    font-size: 2.5rem;
    color: var(--black-color);
}
.new__container{
    padding-top: 1rem;
}
.new__content{
    position: relative;
    background: var(--main-color);
    width: 310px;
    padding: 2rem 0;
    border-radius: .5rem;
    text-align: center;
}
.new__content img{
    width: 150px;
    margin-bottom: 2rem;
    
}
.new__tag{
    font-size: 2rem;
    color: black;
    position: absolute;
    left: 8%;
    top: 8%;
    background: yellow;
    padding: 1rem;
    border-radius: 4px;
}
.new__title{
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--black-color);
}
.new__subtitle{
    display: block;
    font-size: 1.6rem;
    color: var(--black-color);
    margin-bottom: 1rem;
}
.new__prices{
    display: inline-flex;
    align-items: center;
    column-gap: 2rem;
    font-size: 1.7rem;
}
.new__discount{
    text-decoration:line-through;
    color: var(--black-color);
}
.new__price{
    color: red;
}
.btn__cart{
    display: inline-flex;
    font-size: 2rem;
    padding: 1.6rem;
    border-bottom-right-radius: .5rem;
    right: -4rem;
    position: absolute;
    bottom: 0;
    background: red;
}
.btn__cart i{
    font-size: 1.6rem;
    color: white;
}
.new__content:hover .btn__cart{
    right: 0;
    border-bottom-right-radius: .5rem;
}
.new__content:hover img{
    transform: translateY(-.5rem);
}
.steps__bg{
    background: var(--main-color);
    padding: 2rem 7%;
    border: .5rem;
}
.steps__bg h2{
    color: var(--black-color);
}
.steps__bg h2 span{
    color: red;
}
.steps__container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    column-gap: 2rem;
    padding-top: 1rem;
    gap: 2rem;
}
.steps__card{
    background: var(--white-color);
    border: .5rem;
    padding: 1rem;
}
.steps__card-number{
    color: red;
    font-size: 2rem;
    padding: .5rem;
    background: yellowgreen;
    display: inline-flex;
    border-radius: .5rem;
    margin-bottom: 1rem;
}
.steps__card-title{
    font-size: 2rem;
    color: orange;
}
.steps__card-description{
    font-size: 1.6rem;
    color: var(--black-color);
    line-height: 2;
}
.newsletter_container{
    display: grid;
    grid-template-columns: .7fr;
    justify-content: center;
}
.newsletter__form{
    align-items: center;
    display: flex;
    
}
.newsletter__input{
    width: 100%;
    padding: 1.2rem;
    border-bottom: 2px solid red;
    background: transparent;
    color: var(--black-color);
    border-bottom-left-radius: 10px;
}
.newsletter__form .btn{
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.scroll__top{
    position: fixed;
    z-index: 2;
    bottom: 10%;
    right: 2rem;
}
.scroll__top i{
    font-size: 3rem;
    color: var(--black-color);
    padding: .5rem;
    border-radius: 4px;
    background: pink;
    color: red;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    
}
/* .scroll__top.active{
    display: block;
} */
.shop{
    padding: 10rem 0 2rem 0;
}
.breadcrumb__title{
    margin-top: 2rem;
}
.breadcrumb__title,
.breadcrum__subtitle{
    text-align: center;
    font-size: 2rem;
    color: var(--black-color);
   
}
.breadcrum__subtitle{
    margin: 2rem 0;
}
.breadcrum__subtitle span{
    color: rgb(248, 71, 71);
}
.shop__container{
    display: grid;
    grid-template-columns: 1fr 3.3fr;
    column-gap: 1.8rem;
}
.sidebar{
    padding: 1.8rem;
    background: var(--main-color);
    border-radius: 4px;
}
.filter__title{
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--black-color);
}
.filter__subtitle{
    margin: 1.25rem 0;
    font-size: 1.7rem;
    color: rgb(243, 65, 65);
}
.filter{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    color: var(--black-color);
    font-size: 1.3rem;
}
.filter p{
    flex:  1;
    font-size: 1.4rem;
}
.filter  span{
    font-size: 1.4rem;
}
.filter input{
    margin-right: 1rem;
    cursor: pointer;
}
.shop__items{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.6rem;
}
.shop__content{
    position: relative;
    background: var(--main-color);
    border-radius: 4px;
    padding: 2rem 0;
    text-align: center;
}
.shop__img{
    width: 100%;
    text-align: center;
}
.shop_tag{
    position: absolute ;
    top: 8%;
    left: 8%;
    background: yellow;
    color: black;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 4px;
}
.shop__title{
    font-size: 2rem;
    color: var(--black-color);
    font-weight: bolder;
}
.shop__subtitle{
    margin: 1rem 0;
    font-size: 1.7rem;
    color: red;
    display: block;
}
.shop__prices{
    display: inline-flex;
    align-items: center;
    column-gap: 1.5rem;
}
.shop__price{
    font-size: 2rem;
    color: rgb(16, 172, 49);
}
.shop__discounts{
    font-size: 2rem;
    text-decoration: line-through;
    color: var(--black-color);
}
.shop__buttons{
    right: -3rem;
    bottom: 0;
    display: inline-flex;
    position: absolute;
}
.shop__content:hover .shop__img{
    transform: translateY(-1rem);
}
.shop__content:hover .shop__buttons{
    right: 0;
}
.pagination{
    padding: 1rem;
    width: 100%;
    margin-top: 2rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    column-gap: 3rem;
    text-align: center;
    justify-content: center;
}
.pagination__icon{
    padding: 1rem;
    border-radius: 4px;
    background:red ;
    color: white;
   
}
.pagination span{
    color: var(--black-color);
    border-radius: 4px;
}

.blog{
    padding: 10rem 0 1rem 0;
}
.blog__container{
    display: grid;
    row-gap: 1.8rem;
}
.blog__post{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
    align-items: center;
    padding: 1.4rem;
    border-radius: 1.2rem;
    background: var(--light-white-color);
}
.blog__img{
    border-radius: 1rem;

}
.blog__details{
    font-size: 1.8rem;
    color: var(--black-color);
    margin-bottom: 2rem;
    text-align: justify;
}
.blog__title{
    font-size: 1.6rem;
    color: var(--black-color);
    margin-bottom: 1rem;
}
.blog__date{
    font-size: 1.5rem;
    color: rgb(241, 64, 64);
    font-weight: bolder;
    display: block;
}
.button--link{
    margin-top: 2rem;
    padding: 1rem 2rem;
    background: var(--black-color);
    color: var(--white-color);
    border-radius: 4px;
    display: inline-flex;
    font-size: 1.5rem;
    align-items: center;
}
.details{
    padding: 10rem 0 1rem 0;
}
.details__container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    column-gap: 3rem;
    padding: 2rem 7%;
}
.product__images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.4rem;
}
.product__img{
    background: var(--light-white-color);
    padding: 2rem;
    border-radius: .5rem;
    align-items: center;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.details__img-tag{
    position: absolute;
    top: 8%;
    left: 8%;
    padding: .7rem;
    background: blue;
    border-radius: 4px;
    font-size: 1.8rem;
    color: white;
}
.details__sub{
    font-size: 1.8rem;
    color: var(--black-color);
    margin-top: 2rem;
}
.details__title{
    font-size: 2.3rem;
    color: rgb(247, 82, 82);
    margin: 1rem 0;
}
.stars .bxs-star{
    color: orange;
    font-size: 2rem;
}
.reviews__count{
    margin: 1rem 0;
    font-size: 1.8rem;
    color: var(--black-color);
    font-weight: bolder;
}
.details__prices{
    display: flex;
    column-gap: 1.2rem;
    font-size: 2rem;
    margin-bottom: 2rem;
    align-items: center;
}
.details__price{
    color: rgb(248, 93, 93);
    font-weight: bolder;
}
.details__discount{
    text-decoration: line-through;
    color: var(--black-color);
}
.discount__percentage{
    color: var(--white-color);
    padding:1rem;
    background: var(--black-color);
    border-radius: .5rem;
}
.description__title{
    font-size: 2.2rem;
    color: var(--black-color);
}
.description__details{
    text-align: justify;
    font-size: 1.8rem;
    margin: 1rem 0;
    color: var(--black-color);
}
.lightbox{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
    display: none;
    justify-content: center;
    cursor: zoom-out;
    padding: 1.8rem;
    align-items: center;
    background: rgba(0,0,0,0.7);
}
.lightbox.open{
    display: flex;
}
.lightbox.open .lightbox__content{
    animation: lightboxImage .5s ease-in-out;
}
@keyframes lightboxImage{
    0%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1);
    }
}

.lightbox__img{
    
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 450px;
    cursor: pointer;
    background: var(--light-white-color);
    display: block;
    padding: 1.6rem;
}
.lightbox__content{
    position: relative;
}
.lightbox__close{
    position: absolute;
    height: 40px;
    width: 40px;
  
    right: 0;
    font-size: 2.5rem;
    color: white;
    background: red;
    text-align: center;
    align-items: center;
}
.lightbox__caption{
    position: absolute;
    left: 0;
    bottom: -4.2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--white-color);
    font-size: 2rem;
    z-index: -1;
}
.lightbox__controls .prev__item,
.lightbox__controls .next__item{
    position: absolute;
    height: 40px;
    width: 40px;
    background: var(--white-color);
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    top: 50%;
    margin-top: -20px;
    z-index: 13;

}
.lightbox__controls .prev__item{
    left: 1.8rem;
}
.lightbox__controls .prev__item .bx{
    font-size: 2rem;
    align-items: center;
    text-align: center;
    line-height: 40px;
}
.lightbox__controls .next__item{
    right: 1.8rem;
}
.lightbox__controls .next__item .bx{
    font-size: 2rem;
    align-items: center;
    text-align: center;
    line-height: 40px;
}
.lightbox__controls .prev__item:hover,
.lightbox__controls .next__item:hover{
    transform: scale(1.1);
}
.pay{
    padding: 15rem 0 1rem 0;
    text-align: center;
}







@media (max-width:991px) {
    html{
        font-size: 55%;
    }
   
}
/* 
@media (max-width:786px){
    html{
        font-size: 53%;
    }
    .cart{
        width: 50%;
    }

} */

@media (max-width:786px){
    html{
        font-size: 50%;
    }
    .nav-icon-menu div:nth-child(4){
        display: block;
    }
    .nav-menu{
        display: block;
    }
    .nav-menu-content {
        display: block;
        position: absolute;
        top: 110%;
        right: 2rem;
        background: var(--header-color);
        color: var(--black-color);
        width: 50%;
        text-align: center;
        border-radius: 4px;
        transform: scale(0);
        transform-origin: top right;
        box-shadow: 0 .5rem 1.5rem rgba(0,0,0,0.1) ;
    }
    .nav-menu-content.active{
        transform: scale(1);
    }
    .nav-menu-content a{
        margin: 2rem 1rem 0;
    }
    .cart{
       width: 85%;
        z-index: 11;
        top: 10%;
    }
    .login{
        width: 85%;
        z-index: 11;
        top: 10%;
    }
    
    .discount-section img{
        width: 80%;
       
    }
    .home__content{
        grid-template-columns: 1fr;
        padding-top: 4rem;
        row-gap: 1;
    }
    .home__indicator{
        bottom: 55%;
         left: 90%;
    }
    .home_-details-img{
        right: 0;
        bottom: 35%;
    }
    .sidebar{
       display: block;
       margin-bottom: 2rem;
    }
    .shop__container{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 1.8rem;
    }
    .shop{
        padding: 7rem 0 1rem 0;
    }
    .blog{
        padding: 7rem 0 1rem 0;
    }
    .blog__post{
        grid-template-columns: repeat(1,1fr);
        gap: 1rem;
    }
    .details__container{
       
        grid-template-columns: repeat(1,1fr);
        
    }
    .lightbox__img{
        width: 80%;
        height: 80%;
        margin: 0 auto;
    }
    .lightbox__controls .prev__item,
    .lightbox__controls .next__item{
        position: absolute;
        height: 30px;
        width: 30px;
        background: var(--white-color);
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
        top: 50%;
        margin-top: -20px;
        z-index: 13;

    }
    .lightbox__controls .next__item .bx{
        font-size: 2rem;
        align-items: center;
        text-align: center;
        line-height: 30px;
    }
    .lightbox__controls .prev__item .bx{
        font-size: 2rem;
        align-items: center;
        text-align: center;
        line-height: 30px;
    }
    .lightbox__close{
        position: absolute;
        height: 30px;
        width: 30px;
    
        right: .6rem;
        font-size: 2.5rem;
        color: white;
        background: red;
        text-align: center;
        align-items: center;
    }
}
